@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* { margin: 0; padding: 0;}
  
:root {
  
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Kanit", sans-serif;
  --main-input-fontsize: 1.2rem;

  --main-bg-color: #292929;
  --main-text-color: #535353;
  --components-bg-color: #3F3F3F;

}