@import "./global.css";

:root {
    --navbar-components-height: 40%;
    --hover-color: #efefef;
    --red: #B85050;
}

.bg {
    background-color: var(--main-bg-color);
    height: 100vh;
    color: #fff;
}

.nav {
    height: 15vh;
    width: 95%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.nav input { 
    height: var(--navbar-components-height);
    width: 70%;
 
    grid-column: 2/3;
    place-self: center;

    border: 0;
    border-radius: 20px;
    background-color: var(--components-bg-color);
    color: #fff;

    text-indent: 20px;
    font-size: var(--main-input-fontsize);
}

.nav button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--navbar-components-height);
    width: 20%;
    margin-right: 3rem;

    justify-self: end;
    align-self: center;
    font-size: 1.3rem;

    border: 0;
    border-radius: 20px;
    color: var(--red);
    background-color: var(--components-bg-color);
}

.nav button:hover {
    transition: .2s ease;
    background-color: var(--hover-color);
}